.inhome {
  width: 24px;
  height: 24px;
}

.imagen {
  width: 100%;
  max-width: 300px;
}
.imageContainer {
  max-height: 300px;
  overflow-y: hidden;
  position: relative;
}

.listitem {
  flex-direction: column;
  display: flex;
}
