.container {
  padding: 16px;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
}

.cardActions {
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 300px;
}
