.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #f2f2f2;
  box-shadow: 1px -1px 3px 1px rgba(10, 10, 10, 0.25);
}

.icons {
  width: 100%;
  a {
    margin: 0 4px;
  }
}

.icons__after {
  display: none;
}

@media screen and (min-width: 800px) {
  .footer {
    flex-wrap: initial;
    padding: 16px 64px;
    justify-content: space-between;

    p:first-child {
      align-self: flex-start;
      margin-inline-start: 5px;
    }

    p:last-child {
      align-self: flex-end;
    }
  }

  .icons {
    button {
      transition: 0.85s;
    }
    svg {
      fill: var(--color) !important;
    }
  }
  .icons a {
    position: relative;
    display: inline-block;

    &:hover {
      button {
        box-shadow: 0px 0px 10px 1px var(--color) inset;
      }

      .icon__after {
        left: 50%;
        right: 50%;
        height: 0;
        transition: height 0.85s, left 1s, right 1s;
      }
    }
  }

  .icon__after {
    backdrop-filter: grayscale(1);
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid var(--color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    transition: height 0.85s, left 1s, right 1s;
  }
}
